.all-books__theme {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 15px;
}

.all-books__theme--blue {
  color: #1B62AB;
}

.all-books__list {
  border: 1px solid #d2d2d2;
  border-bottom: 0;
}

.all-books__item {
  width: 20%;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-left: 0;
  border-top: 0;
  padding: 20px;
  float: left;
  position: relative;
}


/* 목록 1열의 끝 (5, 10, 15... 번째) 은 margin-right 해제 */


.all-books__item:nth-child(5n) {
  border-right: 0;
}

.all-books__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.all-books__thumbnail {
  width: 100px;
  height: 130px;
  border: 0;
}

.all-books__title {
  color: #280F24;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.all-books__author {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.all-books__price {
  color: #280F24;
  font-size: 12px;
  margin-top: 5px;
}

.all-books__price--red {
  color: #ff6d38;
  font-size: 16px;
  font-weight: 800;
}


/* tags */

.tag--won-possible {
  color: #fff;
  font-size: 11px;
  background-color: #888;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
