.all-books__title {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 15px;
}

.all-books__title--blue {
  color: #1B62AB;
}

.all-books__list {
  border: 1px solid #d2d2d2;
  border-bottom: 0;
}

.all-books__list__item {
  width: 20%;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-left: 0;
  border-top: 0;
  padding: 15px;
  float: left;
}

.all-books__list__item:nth-child(5n) {
  border-right: 0;
}

.all-books__list__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.all-books__list__thumbnail {
  width: 100px;
  height: 130px;
}

.all-books__list__title {
  color: #280F24;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.all-books__list__author {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.all-books__list__price {
  color: #280F24;
  font-size: 12px;
  margin-top: 5px;
}

.all-books__list__price--red {
  color: #ff6d38;
  font-size: 16px;
  font-weight: 800;
}
