.book-information__top {
  background-color: #f7f7f7;
  border-bottom: 2px solid #dadada;
  padding: 30px 0;
}

.book-information__title {
  color: #280F24;
  font-size: 21px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  border-bottom: 2px solid #280F24;
}


/* 책 정보 - 왼쪽 */


.book-information__feature__left {
  width: 200px;
  padding: 25px;
  float: left;
}


/* 썸네일 */


.book-information__feature__thumbnail {
  width: 150px;
  border: 1px solid #888;
  margin-bottom: 10px;
}

.book-information__feature__thumbnail img {
  max-width: 100%;
}


/* 크게보기 버튼 */


.book-information__expand {
  width: 150px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #888;
}


/* 책 정보 - 오른쪽 */


.book-information__feature__right {
  width: 740px;
  padding: 25px 0;
  float: left;
}

.book-information__feature__list {

}

.book-information__feature__item {
  margin-bottom: 10px;
  position: relative;
}


/* 책 정보 제목/내용 */


.book-information__feature__title {
  color: #333;
  width: 60px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  left: 0;
}

.book-information__feature__content {
  width: 450px;
  font-size: 12px;
  margin-left: 60px;
  padding-left: 15px;
  float: left;
  position: relative;
}

.book-information__feature__content:before {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background: #cecece;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  left: 0;
}

.book-information__feature__price {
  font-size: 16px;
  font-weight: bold;
}

.text--price {
  color: #ff7200;
  font-size: 20px;
}

.book-information__seperate {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin: 30px 0;
}

.book-information__seperate.last {
  height: 2px;
  background-color: #280F24;
}


/* 장바구니 담기 / 바로구매 / 보관함 */


.book-information__feature__count {
  font-size: 12px;
  margin-bottom: 20px;
}

.book-information__feature__label {
  margin-top: 8px;
  float: left;
}

.book-information__feature__quantity {
  width: 60px;
  height: 30px;
  text-align: right;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #c6c6c6;
  float: left;
}

.book-information__feature__control {
  color: #2b4987;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  margin-top: 3px;
  margin-left: 3px;
  float: left;
}

.book-information__feature__button {
  color: #fff;
  font-size: 18px;
  letter-spacing: -1px;
  border: 0;
  margin-right: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.book-information__feature__button.cart {
  background-color: #1B62AB;
}

.book-information__feature__button.buy {
  background-color: #ff7200;
}

.book-information__feature__button.storage {
  color: #888;
  background-color: #fff;
  border: 1px solid #c6c6c6;
}

.book_information__bottom {
  padding: 30px 0;
}

.book_information__details {

}

.book_information__scroll {
  text-indent: -9999px;
  padding-bottom: 5px;
}


/* 탭 */


.book_information__details__list {
  border-bottom: 2px solid #280F24;
}

.book_information__details__item {
  width: 25%;
  text-align: center;
  font-size: 15px;
  background-color: #e4e6e9;
  border: 1px solid #ccc;
  border-left: 0;
  border-bottom: 0;
  padding: 15px;
  float: left;
  position: relative;
}

.book_information__details__item.active {
  background-color: #fff;
  border: 2px solid #280F24;
  border-bottom: 0;
}

.book_information__details__item.active:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 1;
}

.book_information__details__item a {
  color: #280F24;
  font-weight: bold;
}

.book_information__details__item.active a {
  color: #1B62AB;
}


/* 상세정보 (detail1) */


.book_information__detail1 {
  padding: 30px 0 0;
}

.book_information__detail1__title {
  color: #1B62AB;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

.book_information__detail1__description {
  font-size: 13px;
}
