/* 도서 목록 */


.move-category {
  height: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.move-category__list {
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
}

.move-category__list__item {
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  float: left;
  position: relative;
}

.move-category__list.journal .move-category__list__item {
  width: 33.333%;
}

.move-category__list__item.active {
  background-color: #1B62AB;
}

.move-category__list__item.active a {
  color: #fff !important;
}

.move-category__list__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #888;
  font-size: 13px;
  line-height: 35px;
}

.move-category__list li:hover a {
  color: #280F24;
}

.book__section__title {
  color: #1B62AB;
  font-size: 22px;
  border-bottom: 2px solid #1B62AB;
  /* margin-top: 45px; */
  margin-bottom: 15px;
  padding-bottom: 8px;
}

.book__section__top-menu {
  margin-bottom: 20px;
}

.book__section__order-standard {
  float: left;
}

.book__section__order-standard li {
  margin-right: 15px;
  float: left;
}

.book__section__order-standard li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #7e7e7e;
  font-size: 12px;
}

.book__section__order-standard li:hover a,
.book__section__order-standard li.active a {
  color: #280F24;
}

.down-direction {
  display: inline-block;
  width: 9px;
  height: 10px;
  background-image: url(../images/sub_ctrl_ic.png);
  background-position: 0 0;
}

.book__section__order-standard li:hover .down-direction,
.book__section__order-standard li.active .down-direction {
  background-position: 10px 0;
}
