.book-information__top {
  background-color: #f7f7f7;
  border-bottom: 2px solid #dadada;
  padding: 30px 0;
}

.book-information__title {
  color: #280F24;
  font-size: 21px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  border-bottom: 2px solid #280F24;
}


/* 책 정보 - 왼쪽 */


.book-information__feature__left {
  width: 200px;
  padding: 25px;
  float: left;
}


/* 썸네일 */


.book-information__feature__thumbnail {
  width: 150px;
  border: 1px solid #888;
  margin-bottom: 10px;
}

.book-information__feature__thumbnail img {
  max-width: 100%;
}


/* 크게보기 버튼 */


.book-information__expand {
  width: 150px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #888;
}


/* 책 정보 - 오른쪽 */


.book-information__feature__right {
  width: 740px;
  padding: 25px 0;
  float: left;
}

.book-information__feature__list {

}

.book-information__feature li {
  margin-bottom: 10px;
  position: relative;
}


/* 책 정보 제목/내용 */


.book-information__feature__title {
  color: #333;
  width: 60px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  left: 0;
}

.book-information__feature__content {
  width: 450px;
  font-size: 12px;
  margin-left: 60px;
  padding-left: 15px;
  float: left;
  position: relative;
}

.book-information__feature__content:before {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background: #cecece;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  left: 0;
}

.book-information__feature__price {
  font-size: 16px;
  font-weight: bold;
}

.text--price {
  color: #ff7200;
  font-size: 20px;
}

.book-information__seperate {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin: 30px 0;
}

.book-information__seperate.last {
  height: 2px;
  background-color: #280F24;
}


/* 장바구니 담기 / 바로구매 / 보관함 */


.book-information__feature__count {
  font-size: 12px;
  margin-bottom: 20px;
}

.book-information__feature__label {
  margin-top: 8px;
  float: left;
}

.book-information__feature__quantity {
  width: 60px;
  height: 30px;
  text-align: right;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #c6c6c6;
  float: left;
}

.book-information__feature__control {
  color: #2b4987;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  margin-top: 3px;
  margin-left: 3px;
  float: left;
}

.book-information__feature__button {
  color: #fff;
  font-size: 18px;
  letter-spacing: -1px;
  border: 0;
  margin-right: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.book-information__feature__button.cart {
  background-color: #1B62AB;
}

.book-information__feature__button.buy {
  background-color: #ff7200;
}

.book-information__feature__button.storage {
  color: #888;
  background-color: #fff;
  border: 1px solid #c6c6c6;
}

.book-information__bottom {
  padding: 30px 0;
}

.book-information__details {

}

.book-information__scroll {
  text-indent: -9999px;
  padding-bottom: 5px;
}


/* 탭 */


.book-information__details__list {
  border-bottom: 2px solid #280F24;
}

.book-information__details li {
  width: 25%;
  text-align: center;
  font-size: 15px;
  background-color: #e4e6e9;
  border: 1px solid #ccc;
  border-left: 0;
  border-bottom: 0;
  padding: 15px;
  float: left;
  position: relative;
}

.book-information__details li.active {
  background-color: #fff;
  border: 2px solid #280F24;
  border-bottom: 0;
}

.book-information__details li.active:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 1;
}

.book-information__details li a {
  color: #280F24;
  font-weight: bold;
}

.book-information__details li.active a {
  color: #1B62AB;
}


/* 상세정보 (detail1) */


.book-information__detail1__description {
  font-size: 13px;
}


/* 이용후기 (Detail2)  */


.book-information__detail__header--alert.detail2 {
  color: #888;
}


/* 평가 점수 */

.book-information__detail2__review-form__stars {
  margin-bottom: 5px;
}

.book-information__detail2__review-form__stars__list {
  padding: 0 20px;
}

.book-information__detail2__review-form__stars__list li {
  width: 20%;
  margin-top: 10px;
  float: left;
}

.book-information__detail2__review-form__star-score {
  margin-right: 10px;
  float: left;
}

.book-information__detail2__review__base-star {
  width: 75px;
  height: 17px;
  background-image: url(../images/inner_star.png);
  float: left;
}

.book-information__detail2__review__red-star {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/inner_star.png);
  background-position: 0 -18px;
}

.book-information__detail2__review__red-star.five {

}

.book-information__detail2__review__red-star.four {
  width: 80%;
}

.book-information__detail2__review__red-star.three {
  width: 60%;
}

.book-information__detail2__review__red-star.two {
  width: 40%;
}

.book-information__detail2__review__red-star.one {
  width: 20%;
}


/* 상품문의 (detail3) */

.book-information__detail__header--alert.detail3 {
  color: #ff0000;
}

.book-information__detail__qna__status {
  color: #fff;
  font-size: 12px;
  letter-spacing: -1px;
  background-color: #ff7200;
  border-radius: 15px;
  padding: 5px 15px;
}

.book-information__detail__qna__title {
  padding-left: 10px;
}

.book-information__detail3__whole-qna__answer {
  background: url(../images/ic_faq_a.gif) no-repeat;
  background-color: #fff;
  background-position: 18px 20px;
  border: 1px dotted #ccc;
  margin: 20px 0 0 50px;
  padding: 20px 30px 15px 55px;
}

.book-information__detail3__whole-qna__answer--top {
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.book-information__detail3__whole-qna__answer__nickname {
  color: #ff7200;
  font-weight: bold;
}

.book-information__detail3__whole-qna__answer__date {

}

.book-information__detail3__whole-qna__answer__date:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
}

.book-information__detail3__whole-qna__answer--bottom {
  line-height: 1.5;
}


/* 배송/반품/교환/AS (detail4) */


.book-information__detail4__description {
  font-size: 12px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}

.book-information__detail__description__row {
  display: table-row;
  border-bottom: 0;
}

.book-information__detail__description__row dt {
  display: table-cell;
  width: 188px;
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  vertical-align: middle;
}

.book-information__detail__description__row dd {
  display: table-cell;
  width: 752px;
  line-height: 1.5;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  padding: 15px;
  vertical-align: middle;
}

.book-information__detail__description__row dd h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text--possible {
  color: #395DC9;
  text-decoration: underline;
}

.text--impossible {
  color: #CC2F40;
  text-decoration: underline;
}

.book-information__detail__description__seperate {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
