@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  font-family: 'Nanum Gothic';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}

.wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.not-required {
  color: #A9A9A9;
}

/* Section */

.section {
  position: relative;
}

/* Recent Book */

.recent-book {
  width: 100px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: 480px;
}

.recent-book.over {
  position: fixed;
  top: 60px !important;
}

.recent-book__container {
  color: #666;
  width: 100%;
  letter-spacing: -1px;
  border: 1px solid #ccc;
}

.recent-book__header {
  font-size: 11px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
}

.recent-book__content {
  height: 220px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.recent-book__counter {
  color: #5a5a5a;
  font-size: 12px;
  background: #e0e0e0;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  position: relative;
}

.recent-book__counter:last-child {
  border-bottom: 0;
}

.recent-book__counter > span {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.recent-book__top-button {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  background-color: #3b3d41;
  padding: 5px 0;
}

.recent-book__top-button a {
  color: #fff;
}


/* login & join header */

.section__header {
  height: 120px;
  background-image: url(../images/dentist-1025338_1920.jpg);
  background-size: cover;
  background-position: center -225px;
}

.section__header__title {
  width: 200px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.section__header__title h2 {
  color: #fff;
  font-size: 23px;
  line-height: 120px;
  text-align: center;
}


/* 페이지 번호 이동 */


.book__section__book-count {
  color: #808080;
  font-size: 12px;
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
  float: right;
  outline: none;
}

.book__section__page-num {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.book__section__buttons {
  display: inline-block;
}

.book__section__move {
  display: inline-block;
}

.book__section__move li {
  width: 40px;
  height: 35px;
  border: 1px solid #dbdbdb;
  margin-right: -1px;
  float: left;
}

.book__section__move li a {
  display: block;
  margin: 7.5px 10px;
}

.book__section__move span {
  display: block;
  width: 20px;
  height: 20px;
}

.book__section__move .all-prev-button {
  background-image: url(../images/paginate.png);
  background-position: 0 20px;
}

.book__section__move .prev-button {
  background-image: url(../images/paginate.png);
  background-position: -20px 20px;
}

.book__section__move .all-next-button {
  background-image: url(../images/paginate.png);
  background-position: 40px 0px;
}

.book__section__move .next-button {
  background-image: url(../images/paginate.png);
  background-position: 20px 0px;
}

.book__section__page-num__list {
  display: inline-block;
}

.book__section__page-num__list li {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  margin-right: -1px;
  float: left;
}

.book__section__page-num__list li:hover {
  background-color: #f5f5f5;
}

.book__section__page-num__list li a {
  color: #888;
  font-size: 14px;
}

.book__section__page-num__list li.active a {
  color: #280F24;
  font-weight: bold;
}

.book__section__page-num__list li:hover a {
  text-decoration: underline;
}
