/* Companies */

.companies {
  border-top: 2px solid #93939f;
  border-bottom: 1px solid #e4e4e4;
}

.companies__list {
  height: 100px;
  line-height: 100px;
}

.companies__item {
  width: 25%;
  float: left;
}

.companies__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
}

.companies__item a img {
  width: 100px;
  vertical-align: middle;
  border: 0;
}


/* Bottom Menu */


.bottom-menu--sub {
  text-align: center;
  padding: 10px 0;
}

.bottom-menu--sub__list {
  display: inline-block;
}

.bottom-menu--sub__item {
  padding: 0 15px;
  float: left;
  position: relative;
}

.bottom-menu--sub__item:before {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
}

.bottom-menu--sub__item:first-child:before {
  display: none;
}

.bottom-menu--sub__item a {
  color: #888;
  font-size: 12px;
  letter-spacing: -1px;
}


/* Footer */

.copyrights {
  padding: 30px 0;
  border-top: 1px solid #e4e4e4;
}

.copyrights__logo {
  width: 200px;
  margin-right: 40px;
  float: left;
}

.copyrights__logo img {
  max-width: 100%;
}

.copyrights__content {
  width: 313px;
  height: 200px;
  padding: 0 20px;
  border-left: 1px solid #e4e4e4;
  float: left;
}

.copyrights__title {
  color: #280F24;
   font-size: 15px;
   margin-bottom: 10px;
}

.copyrights__info {
  color: #888;
  font-size: 12px;
  line-height: 1.5;
}
