.form-box__header {
  padding-bottom: 10px;
  position: relative;
}

.form-box__title {
  display: inline-block;
  color: #280F24;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
}

.form-box__description {
  display: inline-block;
  color: #9c9c9c;
  font-size: 12px;
  letter-spacing: -1px;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.text--alert, .text--success {
  display: none;
}

.text--required {
  color: #ff7200;
}


/* 통과 (success) */


.text--success {
  color: #28a745;
}

.input--success {
  border: 1px solid #28a745 !important;
}


/* 경고 (alert) */


.text--alert {
  color: #d9534f;
}

.input--alert {
  border: 1px solid #d9534f !important;
}

.form-box__container {
  border-top: 2px solid #6F6F70;
}

/* small row (50%) */

.join__form-box__row {
  background-color: #FBFBFB;
  border-bottom: 1px solid #dedede;
  float: left;
}

/* large row (100%) */

.join__form-box__row.large {
  clear: both;
}


/* 입력 항목명 (left) */

.join__form-box__row__left {
  width: 135px;
  color: #280F24;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  float: left;
}

/* 회원가입 폼 1/2열 (default) */

.join__form-box__row__right {
  width: 204.5px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #dedede;
  padding: 10px;
  float: left;
}


/* 회원가입 폼 1열 */


.join__form-box__row__right.large {
  width: 544px;
}


/* 입력란 (기본 크기) */


.join__form-box__row__right input {
  width: 180px;
  height: 35px;
  font-size: 12px;
  background: #f1f1f1;
  border: 1px solid #c1c1c1;
  padding: 5px;
  float: left;
}


/* 입력란 (large) */


.join__form-box__row__right.large input {
  width: 300px;
}
