/* 맨 상단 메뉴 */

.top {
  height: 30px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #E2E8EB;
}

.top__right-menu {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}

.top__right-menu li {
  float: left;
}

.top__right-menu li:after {
  display: block;
  content: '';
  width: 1px;
  height: 10px;
  background-color: #E2E8EB;
  margin: 5px 10px;
  float: left;
}

.top__right-menu li:last-child:after {
  display: none;
}

.top__right-menu li a {
  color: #333;
  font-size: 12px;
  padding: 2px;
  float: left;
}

/* 로그인 버튼 */
.top__right-menu__login a {
  background-color: #fff;
  border: 1px solid #E2E8EB;
}

/* Header */

.header {
  height: 110px;
}

.header__logo {
  display: block;
  width: 300px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}

.header__logo img {
  max-width: 100%;
  vertical-align: top;
}

.header__search-box {
  width: 430px;
  height: 40px;
  box-sizing: content-box;
  border: 1px solid #1B62AB;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 400px;
}

.header__search-box__option {
  width: 87px;
  height: 100%;
  float: left;
}

.header__search-box__option select {
  font-size: 12px;
  height: 100%;
  padding: 12px;
  border: 0;
  outline: none;
}

.header__search-box__input {
  width: 303px;
  height: 100%;
  float: left;
}

.header__search-box__input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
}

.header__search-box__button {
  width: 40px;
  height: 40px;
  float: left;
}

.header__search-box__button a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1B62AB;
  background-image: url(../images/search_icon_white.png);
}

/* Navigation bar */

.nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #585858;
}

.nav.over {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav__hamburger-menu {
  width: 200px;
  height: 100%;
  background-color: #2b4987;
  float: left;
  cursor: pointer;
}

.nav__hamburger__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav__hamburger-menu__icon {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 100%;
  background: url(../images/hamburger.png) no-repeat;
  background-size: 20px 17px;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__hamburger-menu__text {
  display: block;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  white-space: nowrap;
}

.nav__hamburger-menu__arrow {
  display: block;
  text-indent: -9999px;
  width: 13px;
  height: 7px;
  background: url(../images/nav_sitemap_ic.png);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.nav__hamburger__link:hover .nav__hamburger-menu__arrow {
  background-position: 13px 0;
}

/* Navigation menu */

.nav__category {
  height: 100%;
  float: left;
}

.nav__category li {
  height: 100%;
  line-height: 50px;
  padding: 0 15px;
  float: left;
}

.nav__category li a {
  font-size: 14px;
  color: #333;
  letter-spacing: -1px;
}

.nav__category .popular a {
  color: #ff7200;
}

.nav__category .highlight a {
  color: #1B62AB;
}

/* Category */

.category {
  display: none;
  background-color: #fff;
  border: 1px solid #2b4987;
  padding: 8px 4px;
  box-shadow: 3px 0px 7px 0px #333;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 9999;
}

.category.open {
  display: block;
}

.category__container {
  font-size: 14px;
  border-right: 1px solid #E2E8EB;
  padding: 0 4px;
  float: left;
}

.category__container:last-child {
  border: 0;
}

.category__title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #2b4987;
  padding: 5px;
}

.category__list {
  width: 200px;
  margin-bottom: 20px;
}

.category__list.large {
  width: 400px;
}

.category__list li {
  margin-bottom: 10px;
}

.category__list.large li {
  width: 50%;
  float: left;
}

.category__list li:hover {
  text-decoration: underline;
}

.category__list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.category--large__list li:hover a {
  color: #fff;
}

/* Banner */

.banner {

}

.banner__menu {
  width: 200px;
  background-color: #1B62AB;
  float: left;
}

.banner__menu__list {

}

.banner__menu__list li {
  padding: 17px;
  padding-top: 0;
}

.banner__menu__list li:first-child {
  padding-top: 17px;
}

.banner__menu__list li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.banner__menu__list .seperate {
  height: 1px;
  background-color: #2b4987;
  margin-bottom: 17px;
  padding: 0;
}

.banner__slide-box {
  width: 740px;
  height: 415px;
  overflow: hidden;
  float: left;
}

.banner__slide-box__list {
  width: 2960px;
  height: 360px;
  margin-left: 0px;
  transition: margin-left .5s .1s;
}

.banner__slide-box__item {
  width: 740px;
  height: 100%;
  text-indent: -9999px;
  float: left;
}

.banner__slide-box__item:first-child {
  background: url(../images/example/2784751803.jpg);
}

.banner__slide-box__item:nth-child(2) {
  background: url(../images/example/371291710.jpg);
}

.banner__slide-box__item:nth-child(3) {
  background: url(../images/example/834352490.jpg);
}

.banner__slide-box__item:last-child {
  background: url(../images/example/1038239758.jpg);
}

.banner__slide-box__indicator {
  height: 55px;
  border: 1px solid #333;
  border-top: 0;
}

.banner__slide-box__indicator li {
  width: 25%;
  text-align: center;
  line-height: 55px;
  border-right: 1px solid #e3e3e3;
  float: left;
}

.banner__slide-box__indicator li:last-child {
  border-right: 0;
}

.banner__slide-box__indicator li.active {
  background-color: #EB6E44;
}

.banner__slide-box__indicator li.active a {
  color: #fff;
}

.banner__slide-box__indicator li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  letter-spacing: -1px;
  font-size: 14px;
}

/* New book slide box */

.new-book__slide-box {
  /* height: 220px; */
}

.new-book__slide-box__container {
  height: 100%;
  border: 1px solid #333;
  border-left: 0;
  border-right: 0;
  margin-top: 25px;
  overflow: hidden;
}

.new-book__slide-box__list {
  width: 1980px;
  margin-left: 0;
  transition: margin-left .3s;
}

.new-book__slide-box__list li {
  width: 156px;
  height: 100%;
  padding: 20px;
  float: left;
}

.new-book__slide-box__list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #888;
  font-size: 12px;
  text-align: center;
}

.new-book__slide-box__thumbnail {
  width: 100px;
  height: 135px;
}

.new-book__slide-box__title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  overflow: hidden;
}

.new-book__slide-box__price {
  display: block;
  font-weight: bold;
}

.new-book__slide-box__arrow a {
  display: block;
  width: 25px;
  position: absolute;
}

.new-book__slide-box__arrow a img {
  max-width: 100%;
}

.new-book__slide-box__prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.new-book__slide-box__next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* New Book */

.new-book__container, .best-seller__container {
  margin-top: 50px;
}

.book__container__title {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.book__list {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 20px;
  overflow: hidden;
}

.book__list ul {
  width: 1500px;
}

.book__list ul:after {
  display: block;
  content: '';
  clear: both;
}

.book__list li {
  width: 165.6px;
  margin-right: 20px;
  margin-bottom: 25px;
  float: left;
}

.book__list li:last-child {
  margin-right: 0;
}

.book__list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.book__thumbnail {
  width: 100%;
  height: 240px;
  margin-bottom: 5px;
}

.book__thumbnail img {
  width: 100%;
}

.book__title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  overflow: hidden;
}

.book__category {
  color: #7e7e7e;
  font-size: 12px;
}
