/* 맨 상단 메뉴 */

.top {
  height: 30px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #E2E8EB;
}

.top__right-menu {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}

.top__right-menu:after {
  display: block;
  content: '';
  clear: both;
}

.top__right-menu li {
  float: left;
}

.top__right-menu li:after {
  display: block;
  content: '';
  width: 1px;
  height: 10px;
  background-color: #E2E8EB;
  margin: 5px 10px;
  float: left;
}

.top__right-menu li:last-child:after {
  display: none;
}

.top__right-menu li a {
  color: #333;
  font-size: 12px;
  padding: 2px;
  float: left;
}

/* 로그인 버튼 */
.top__right-menu__login a {
  background-color: #fff;
  border: 1px solid #E2E8EB;
}

/* Header */

.header {
  height: 110px;
}

.header__logo {
  display: block;
  width: 300px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}

.header__logo img {
  max-width: 100%;
  vertical-align: top;
}

.header__search-box {
  width: 430px;
  height: 40px;
  box-sizing: content-box;
  border: 1px solid #1B62AB;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 400px;
}

.header__search-box:after {
  display: block;
  content: '';
  clear: both;
}

.header__search-box__option {
  width: 87px;
  height: 100%;
  float: left;
}

.header__search-box__option select {
  font-size: 12px;
  height: 100%;
  padding: 12px;
  border: 0;
  outline: none;
}

.header__search-box__input {
  width: 303px;
  height: 100%;
  float: left;
}

.header__search-box__input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
}

.header__search-box__button {
  width: 40px;
  height: 40px;
  float: left;
}

.header__search-box__button a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1B62AB;
  background-image: url(../images/search_icon_white.png);
}

/* Navigation bar */

.nav {
  width: 100%;
  height: 50px;
  background-color: #1B62AB;
}

.nav.over {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav__hamburger-menu {
  width: 50px;
  height: 50px;
  background-color: #2b4987;
  float: left;
  cursor: pointer;
}

.nav__hamburger-menu:hover a {
  background-image: url(../images/close.png);
  background-size: 20px 20px;
}

.nav__hamburger-menu a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background: url(../images/hamburger.png) no-repeat;
  background-size: 20px 17px;
  background-position: center center;
}

/* Navigation menu - Left */

.nav__category--left {
  height: 100%;
  float: left;
}

.nav__category--left:after {
  display: block;
  content: '';
  clear: both;
}

.nav__category--left li {
  height: 100%;
  line-height: 50px;
  padding: 0 15px;
  float: left;
}

.nav__category--left li a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
}

/* Navigation menu - Right */

.nav__category--right {
  height: 100%;
  float: right;
}

.nav__category--right:after {
  display: block;
  content: '';
  clear: both;
}

.nav__category--right li {
  height: 100%;
  line-height: 50px;
  margin: 0 10px;
  float: left;
}

.nav__category--right li a {
  color: #d8dbe8;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -1px;
}

/* Category */

.category {
  display: none;
  background-color: #fff;
  border: 1px solid #2b4987;
  padding: 8px 4px;
  box-shadow: 3px 0px 7px 0px #333;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 9999;
}

.category.open {
  display: block;
}

.category:after {
  content: '';
  display: block;
  clear: both;
}

.category__container {
  font-size: 14px;
  border-right: 1px solid #E2E8EB;
  padding: 0 4px;
  float: left;
}

.category__container:last-child {
  border: 0;
}

.category__title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #2b4987;
  padding: 5px;
}

.category__list {
  width: 200px;
  margin-bottom: 20px;
}

.category__list.large {
  width: 400px;
}

.category__list.large:after {
  content: '';
  display: block;
  clear: both;
}

.category__list li {
  margin-bottom: 10px;
}

.category__list.large li {
  width: 50%;
  float: left;
}

.category__list li:hover {
  text-decoration: underline;
}

.category__list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.category--large__list li:hover a {
  color: #fff;
}

/* Banner */

.banner {
  height: 400px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 400px;
  text-align: center;
}

.banner .bx-wrapper {
  height: 100%;
  border: 0;
  box-shadow: none;
}

.banner__slider--first {
  background-image: url(../images/banner1.jpg);
  background-size: cover;
  background-position: center center;
}

.banner__slider--second {
  background-image: url(../images/banner2.jpg);
  background-size: cover;
  background-position: center center;
}

.banner__slider--third {
  background-image: url(../images/banner3.jpg);
  background-size: cover;
  background-position: center center;
}

.banner__slider--fourth {
  background-image: url(../images/banner4.jpg);
  background-size: cover;
  background-position: center center;
}

.banner .bx-wrapper .bx-pager {
  margin: 0;
  padding: 0;
  bottom: 20px;
  left: 0;
}

.banner .bx-wrapper .bx-controls-direction a {
  z-index: 9998;
}

/* New Book */

.new-book__container, .best-seller__container {
  margin-top: 50px;
}

.book__container__title {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.book__list {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 20px;
  overflow: hidden;
}

.book__list ul {
  width: 1500px;
}

.book__list ul:after {
  display: block;
  content: '';
  clear: both;
}

.book__list li {
  width: 165.6px;
  margin-right: 20px;
  margin-bottom: 25px;
  float: left;
}

.book__list li:last-child {
  margin-right: 0;
}

.book__list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.book__thumbnail {
  width: 100%;
  height: 240px;
  margin-bottom: 5px;
}

.book__thumbnail img {
  width: 100%;
}

.book__title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  overflow: hidden;
}

.book__category {
  color: #7e7e7e;
  font-size: 12px;
}
