/* Banner */

.banner {
  background: #F3F3F3;
}

.banner__menu {
  width: 200px;
  background-color: #1B62AB;
  float: left;
}

.banner__menu__list {
  height: 100%;
}

.banner__menu__list li {
  padding: 19px;
  padding-top: 0;
}

.banner__menu__list li:first-child {
  padding-top: 17px;
}

.banner__menu__list li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.banner__menu__list .seperate {
  height: 1px;
  background-color: #2b4987;
  margin-bottom: 17px;
  padding: 0;
}

.banner__slide-box {
  width: 740px;
  height: 415px;
  overflow: hidden;
  float: left;
}

.banner__slide-box__list {
  width: 2960px;
  height: 360px;
  margin-left: 0px;
  transition: margin-left .5s .1s;
}

.banner__slide-box__item {
  width: 740px;
  height: 100%;
  text-indent: -9999px;
  float: left;
}

.banner__slide-box__item:first-child {
  background: url(../images/example/2784751803.jpg);
}

.banner__slide-box__item:nth-child(2) {
  background: url(../images/example/371291710.jpg);
}

.banner__slide-box__item:nth-child(3) {
  background: url(../images/example/834352490.jpg);
}

.banner__slide-box__item:last-child {
  background: url(../images/example/1038239758.jpg);
}

.banner__slide-box__indicator {
  height: 55px;
  border: 1px solid #333;
  border-top: 0;
}

.banner__slide-box__indicator li {
  width: 25%;
  text-align: center;
  line-height: 55px;
  border-right: 1px solid #e3e3e3;
  float: left;
}

.banner__slide-box__indicator li:last-child {
  border-right: 0;
}

.banner__slide-box__indicator li.active {
  background-color: #EB6E44;
}

.banner__slide-box__indicator li.active a {
  color: #fff;
}

.banner__slide-box__indicator li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  letter-spacing: -1px;
  font-size: 14px;
}

/* New book slide box */


.slide-box__container {
  height: 100%;
  border: 1px solid #888;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
}

.slide-box__list {
  width: 1980px;
  margin-left: 0;
  transition: margin-left .3s;
}

.slide-box__list li {
  width: 156px;
  height: 100%;
  padding: 20px;
  float: left;
}

.slide-box__list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #888;
  font-size: 12px;
  text-align: center;
}

.slide-box__list__thumbnail {
  width: 100px;
  height: 135px;
}

.slide-box__list__title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  overflow: hidden;
}

.slide-box__list__price {
  display: block;
  font-weight: bold;
}

.slide-box__arrow a {
  display: block;
  width: 25px;
  position: absolute;
}

.slide-box__arrow a img {
  max-width: 100%;
}

.slide-box__prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slide-box__next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.new-book__container, .best-seller__container {
  margin-top: 50px;
}

/* New Book */

.book__container__title {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.book__list {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 20px;
  overflow: hidden;
}

.book__list ul {
  width: 1500px;
}

.book__list ul:after {
  display: block;
  content: '';
  clear: both;
}

.book__list li {
  width: 165.6px;
  margin-right: 20px;
  margin-bottom: 25px;
  float: left;
}

.book__list li:last-child {
  margin-right: 0;
}

.book__list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.book__thumbnail {
  width: 100%;
  height: 240px;
  margin-bottom: 5px;
}

.book__thumbnail img {
  width: 100%;
}

.book__title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  overflow: hidden;
}

.book__category {
  color: #7e7e7e;
  font-size: 12px;
}


/* Information */


.information {
  background: #fff;
  border-top: 1px solid #e4e4e4;
  margin-top: 30px;
}

.information__container {
  margin-top: -1px;
}

.information__box {
  height: 220px;
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  padding: 20px;
  float: left;
}

.information__box.event,
.information__box.customer-center,
.information__box.deposit {
  width: 310px;
}

.information__box.event {
  height: 440px;
  border-left: 1px solid #e4e4e4;
}

.information__box.notice,
.information__box.sns {
  width: 320px;
}

.information__box__title {
  display: block;
  color: #280F24;
  font-size: 17px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  float: left;
}

.information__box__more {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #e9e9e9;
  margin-top: 5px;
  margin-left: 7px;
  float: left;
  cursor: pointer;
}

.information__box__more a {
  display: block;
  width: 7px;
  height: 7px;
  color: #280F24;
  font-size: 14px;
  text-indent: -9999px;
  background: url(../images/keyword_more.gif) no-repeat;
  margin: 5px;
}


/* Event */


.event-list {
  margin-top: 15px;
}

.event-list__item {
  margin-bottom: 15px;
}

.event-list__item__title {
  display: block;
  color: #1B62AB;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-list__item__term {
  color: #280F24;
  font-size: 12px;
}

/* Notice */

.notice-list__item {
  margin-bottom: 12px;
}

.notice-list__item a {
  display: block;
  color: #280F24;
  font-size: 12px;
  letter-spacing: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* Customer Center */


.customer-center {
  padding: 20px 30px;
}

.customer-center .information__box__title {
  margin: 0;
}

.cusomer-center__phone-number {
  color: #1B62AB;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.cusomer-center__time {

}

.cusomer-center__time li {
  font-size: 13px;
  margin-bottom: 10px;
}

.cusomer-center__time--left {
  display: inline-block;
  color: #7f7f7f;
  width: 50px;
}

.cusomer-center__time--right {
  color: #280F24;
}


/* SNS */


.information__box.sns {
  position: relative;
}

.sns__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sns__list__item {
  width: 50%;
  float: left;
}

.sns__list__item a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sns__list__item img {
  width: 80px;
  height: 80px;
}

.sns__list__item.kakaoplus span {
  color: #F7E33C;
  font-size: 13px;
  white-space: nowrap;
}

.sns__list__item.facebook span {
  color: #48529A;
  font-size: 13px;
  white-space: nowrap;
}


/* Deposit */


.deposit__account {
  margin-top: 5px;
}

.deposit__account__logo {
  float: left;
}

.deposit__account__name {
  color: #666;
  width: 55px;
  font-size: 13px;
  margin-right: 10px;
  float: left;
}

.deposit__account__number {
  color: #280F24;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.deposit__account__owner {
  color: #7f7f7f;
  font-size: 13px;
  margin-top: 10px;
}


/* Bottom Information */


.bottom-info {
  border-top: 1px solid #e4e4e4;
}

.bottom-info__list {

}

.bottom-info__list__item {
  width: 25%;
  padding: 25px 20px;
  float: left;
}

.bottom-info__list__item a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-info__icon {
  display: inline-block;
  width: 35px;
  height: 34px;
  margin-right: 30px;
}

.bottom-info__icon.user-guide {
  background: url(../images/main_csquick1.png);
}

.bottom-info__icon.inquiry-board {
  background: url(../images/main_csquick2.png);
}

.bottom-info__icon.faq-board {
  background: url(../images/main_csquick3.png);
}

.bottom-info__icon.partner {
  background: url(../images/main_csquick4.png);
}

.bottom-info__title {
  display: inline-block;
}

.bottom-info__title--eng {
  color: #b2b2b2;
  font-size: 12px;
}

.bottom-info__title--kor {
  color: #280F24;
  font-size: 17px;
}
