.section--left {
  width: 200px;
  height: 100%;
  float: left;
}

.section__content__container {
  border-left: 1px solid #d6d6d6;
  position: relative;
}

.section__content__container:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #d6d6d6;
  position: absolute;
  top: 0;
  left: 200px;
}

/* 좌측 이동메뉴 */

.section--left__menu li {
  border-bottom: 1px solid #efefef;
  padding: 5px 20px;
  position: relative;
}

.section--left__menu li:before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background: #838383;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.section--left__menu li.active:before {
  background: #1B62AB;
}

.section--left__menu li a {
  color: #838383;
  font-size: 12px;
}

.section--left__menu li.active a {
  color: #1B62AB;
}


/* 우측 회원가입 폼 */


.section--right {
  width: 739px;
  padding: 20px 30px;
  float: left;
}

.section--right__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}

.section--right__title {
  display: inline-block;
  color: #280F24;
  font-size: 21px;
}

.section--right__location {
  display: inline-block;
  color: #9c9c9c;
  font-size: 12px;
  letter-spacing: -1px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.join__form-box {

}


/* label 태그 */


.join__form-box__row__input label {
  display: block;
  color: #888;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 5px;
  float: left;
}


/* 체크박스 / 라디오 */


.join__form-box__row__right .checkbox {
  width: 13px;
  height: 13px;
  margin-top: 12px;
  margin-right: 5px;
}


/* 입력란 하단 설명 */


.join__form-box__row__description {
  color: #999;
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5;
  margin-top: 5px;
}


/* 회원가입 폼 버튼 (아이디 중복체크, 닉네임 중복체크, 주소찾기) */


.join__form-box__row__right .check-button {
  color: #280F24;
  height: 35px;
  font-size 13px;
  letter-spacing: -1px;
  line-height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  margin-left: 10px;
  padding: 0px 20px;
  float: left;
  cursor: pointer;
}


/* 우편번호 입력란 */

.zip-code {
  width: 135px !important;
}


/* 도로명 주소 */

.adress {
  width: 250px !important;
  margin-right: 10px;
  float: left;
}


/* (구) 우편번호 */


.old-zip-code {
  width: 85px !important;
}

.dash {
  width: 10px;
  height: 1px;
  background-color: #ccc;
  margin: 15px 5px 0;
  float: left;
}


/* 지번주소 */


.old-address {
  width: 100% !important;
  margin-top: 10px;
}


/* 회원가입완료 / 이전페이지 */

.join__form-box__buttons {
  text-align: center;
  margin-top: 30px;
}

.join__form-box__buttons__list {
  display: inline-block;
}

.join__form-box__buttons__item {
  color: #fff;
  font-size: 17px;
  background-color: #505258;
  border: 0;
  padding: 15px 35px;
  float: left;
  cursor: pointer;
}

.prev-page {
  margin-right: 5px;
}

.prev-page:hover {
  background-color: #111;
}

.join-button {
  background-color: #1B62AB;
}

.join-button:hover {
  background-color: #2b4987;
}
