.join-form-box {
  border-top: 2px solid #6F6F70;
}

.join-form-box__header {
  padding-bottom: 10px;
  position: relative;
}

.join-form-box__title {
  display: inline-block;
  color: #280F24;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
}

.join-form-box__description {
  color: #999;
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5;
  margin-top: 5px;
}

/* small row (50%) */

.join-form-box__row {
  background-color: #FBFBFB;
  border-bottom: 1px solid #dedede;
  float: left;
}

/* large row (100%) */

.join-form-box__row--large {
  clear: both;
}


/* 입력 항목명 (left) */

.join-form-box__left {
  width: 135px;
  color: #280F24;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  float: left;
}

/* 회원가입 폼 1/2열 (default) */

.join-form-box__right {
  width: 204.5px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #dedede;
  padding: 10px;
  float: left;
}


/* 회원가입 폼 1열 */


.join-form-box__right--large {
  width: 544px;
}


/* 입력란 (기본 크기) */


.join-form-box__right input {
  width: 180px;
  height: 35px;
  font-size: 12px;
  background: #f1f1f1;
  border: 1px solid #c1c1c1;
  padding: 5px;
  float: left;
}


/* 입력란 (large) */


.join-form-box__right--large input {
  width: 300px;
}

.join-form-box__input label {
  display: block;
  color: #888;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 5px;
  float: left;
}


/* 체크박스 / 라디오 */


.join-form-box__right .checkbox {
  width: 13px;
  height: 13px;
  margin-top: 12px;
  margin-right: 5px;
}


/* 입력란 하단 설명 */


.join-form-box__caution {
  color: #999;
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.5;
  margin-top: 5px;
  float: right;
}


/* 회원가입 폼 버튼 (아이디 중복체크, 닉네임 중복체크, 주소찾기) */


.join-form-box__right .check-button {
  color: #280F24;
  height: 35px;
  font-size 13px;
  letter-spacing: -1px;
  line-height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  margin-left: 10px;
  padding: 0px 20px;
  float: left;
  cursor: pointer;
}


/* 우편번호 입력란 */

.text-field--zip-code {
  width: 135px !important;
}


/* 도로명 주소 */

.text-field--address {
  width: 250px !important;
  margin-right: 10px;
  float: left;
}


/* (구) 우편번호 */

.text-field--old-zip-code {
  width: 85px !important;
}

.dash {
  width: 10px;
  height: 1px;
  background-color: #ccc;
  margin: 15px 5px 0;
  float: left;
}


/* 지번주소 */


.text-field--old-address {
  width: 100% !important;
  margin-top: 10px;
}


/* 회원가입완료 / 이전페이지 */

.join-form-box__buttons {
  text-align: center;
  margin-top: 30px;
}

.join-form-box__buttons-list {
  display: inline-block;
}

.join-form-box__buttons-item {
  color: #fff;
  font-size: 17px;
  background-color: #505258;
  border: 0;
  padding: 15px 35px;
  float: left;
  cursor: pointer;
}

.prev-page {
  margin-right: 5px;
}

.prev-page:hover {
  background-color: #111;
}

.join-button {
  background-color: #1B62AB;
}

.join-button:hover {
  background-color: #2b4987;
}
