.recent-book.login {
  top: 130px;
}

.login__form {
  margin-top: 80px;
  position: relative;
}

.login__form-box {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.login__form-box__title {
  color: #280F24;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}

.login__form-box__input {
  margin-bottom: 5px;
  float: left;
}

.login__form-box__id,
.login__form-box__pw {
  width: 335px;
  height: 65px;
  border: 1px solid #d1d1d1;
  margin-bottom: 5px;
  position: relative;
}

.login__form-box__id input,
.login__form-box__pw input {
  color: #888;
  font-size: 19px;
  width: 270px;
  height: 100%;
  border: 0;
  background: #ededed;
  float: right;
  outline: none;
}

.login__form-box__id:before,
.login__form-box__pw:before {
  content: '';
  display: block;
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: 0;
}

.login__form-box__id:before {
  background: url(../images/member_login_id.png) no-repeat;
  background-position: center center;
  background-color: #ededed;
}

.login__form-box__pw:before {
  background: url(../images/member_login_pw.png) no-repeat;
  background-position: center center;
  background-color: #ededed;
}

.login__form-box__submit {
  width: 135px;
  height: 135px;
  margin-left: 5px;
  float: left;
}

.login__form-box__submit button {
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  background-color: #1B62AB;
  border: 0;
}

.login__form-box__maintain {
  color: #888;
  font-size: 12px;
  margin-bottom: 30px;
}

.login__help {
  background: #fff;
  border: 1px solid #eee;
  border-right: 0;
}

.login__help__item {
  width: 50%;
  border-right: 1px solid #eee;
  padding: 20px 35px;
  float: left;
}

.login__help__question {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.login__help__link {
  display: block;
  font-size: 13px;
  text-align: center;
  padding: 10px 0;
}

.login__help__item.find .login__help__link {
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
}

.login__help__item.join .login__help__link {
  color: #fff;
  background: #333;
}
