/* .book-information__detail {
  padding: 30px 0;
}

.book-information__detail__title {
  color: #1B62AB;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
} */


/* 별점 */


.review__base-star {
  width: 75px;
  height: 17px;
  background-image: url(../images/inner_star.png);
  float: left;
}

.review__red-star {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/inner_star.png);
  background-position: 0 -18px;
}

.review__red-star--four {
  width: 80%;
}

.review__red-star--three {
  width: 60%;
}

.review__red-star--two {
  width: 40%;
}

.review__red-star--one {
  width: 20%;
}


/* 이용후기 상단 */

.book-information-detail__header {
  margin-bottom: 15px;
}

/* 이용후기 주의 문구 */

.book-information-detail2,
.book-information-detail3 {
  padding: 30px 0;
}

.book-information-detail2__alert,
.book-information-detail3__alert {
  font-size: 12px;
  letter-spacing: -1px;
  float: left;
}

/* 이용후기/상품문의 입력하기 버튼 */

.book-information-detail__add-review,
.book-information-detail__add-qna {
  color: #fff;
  font-size: 12px;
  letter-spacing: -1px;
  background-color: #1B62AB;
  border: 0;
  padding: 5px 15px;
  float: right;
  cursor: pointer;
}

/* 이용후기/상품문의 입력하기 배경 부분 */

.book-information-detail__review,
.book-information-detail__qna {
  display: none;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
}

/* 이용후기/qna 폼의 열(평가 점수, 평가 제목) */

.review-form__row,
.qna-form__row {
  width: 100%;
  height: 35px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

/* 이용후기/qna 폼의 큰 열(평가 내용) */

.review-form__row--large,
.qna-form__row--large {
  height: 105px;
  background-color: transparent;
  border: 0;
}

/* 이용후기/qna 폼의 열 중 제목 */

.review-form__title,
.qna-form__title {
  color: #280F24;
  width: 13%;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  border-right: 1px solid #ccc;
  padding: 10px 15px;
  float: left;
}

/* 이용후기/qna 폼의 열 중 입력 부분 */

.review-form__content,
.qna-form__content {
  width: 87%;
  height: 100%;
  padding: 0 15px;
  float: left;
}

/* 이용후기/상품문의 폼의 평가 제목/문의 제목 */

.review-form__review-title,
.qna-form__qna-title {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

/* 평가/문의 내용 */

.review-form__detail,
.qna-form__detail {
  width: 83.7%;
  height: 100%;
  margin-right: 1%;
  float: left;
}

.review-form__detail > textarea,
.qna-form__detail > textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

/* 등록 버튼 */

.review-form__submit,
.qna-form__submit {
  width: 15.3%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #1B62AB;
  border: 0;
  float: left;
}

/* 리뷰/문의 목록 */

.review-list,
.qna-list {
  border-top: 2px solid #555;
  margin-top: 20px;
}

.review-list__item,
.qna-list__item {
  font-size: 13px;
}

.review-list__summary,
.qna-list__summary {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 25px;
  position: relative;
}

.review-list__summary:hover,
.qna-list__summary:hover {
  background-color: #FBFBFB;
}

.review-list__summary.open,
.qna-list__summary.open {
  border-bottom: 1px dotted #ccc;
}


/* 리뷰/문의 왼쪽 */


.review-list--left,
.qna-list--left {
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -8.5px;
}

.review-list__title,
.qna-list__title {
  margin-left: 15px;
}

.review-list__title > a,
.qna-list__title > a {
  color: #280F24;
  vertical-align: middle;
}

.review-list__title > a:hover,
.qna-list__title > a:hover {
  text-decoration: underline;
}


/* 리뷰 오른쪽 */


.review-list--right,
.qna-list--right {
  font-size: 13px;
  float: right;
}

.review-list__writer,
.qna-list__writer {
  display: inline-block;
}

.review-list__date,
.qna-list__date {
  color: #666;
}

.pencil-icon {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../images/pencil.png);
  background-size: cover;
  margin-right: 5px;
  float: left;
}

.review-list__date:before,
.qna-list__date:before {
  content:'';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 0 15px;
}

/* 내용보기 */

.review-list__open,
.qna-list__open {
  color: #280F24;
  letter-spacing: -1px;
  background-color: #e9fcde;
  border: 1px solid #ccc;
  margin-left: 10px;
  padding: 3px 10px;
  cursor: pointer;
}

/* 리뷰 전체보기 */

.review-list__detail-review,
.qna-list__detail-qna {
  display: none;
  background-color: #f5f5f5;
  border-top: 1px dashed #ccc;
  padding: 20px 25px;
}

.review-list__detail-review.open,
.qna-list__detail-qna.open {
  display: block;
}

.review-list__detail-title,
.qna-list__detail-title {
  font-weight: bold;
  margin-bottom: 15px;
}
