.terms-form__title {
  color: #1B62AB;
  font-size: 13px;
  border-bottom: 2px solid #1B62AB;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.terms-form__push-pin {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../images/push-pin.png);
  background-size: cover;
  margin-right: 5px;
}

.terms-form__content {
  color: #280F24;
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 2;
  margin-bottom: 15px;
}

.term__form-box__background {
  background-color: #fafafa;
  padding: 25px;
}

.term__form-box__note {
  height: 200px;
  color: #888;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  overflow-y: scroll;
}
